@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Over a decade experience in analyzing commodity markets. Natural
    inclination to write code and find patterns. 
</p>
