@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>Register and I'll contact you if you are interested in 
    this work. 
 </address>
